@model UserData.Core.Model.UserPage
<head>

</head>
<body>
    <table>
        <tr>
            <td><b>User Name</b></td>
            <td>:</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td><b>Email Id</b></td>
            <td>:</td>
            <td>@Model.EmailId</td>
        </tr>
        <tr>
            <td><b>Address</b></td>
            <td>:</td>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <td><b>Phone Number</b></td>
            <td>:</td>
            <td>@Model.Phonenumber</td>
        </tr>
    </table>
</body>